    <h1>все комнаты</h1>
    <h3>@Model.RoommCategory</h3>
    <div class="row mt-5 mb-2">
        @{
            foreach (room room in Model.allRooms) {
            @Html.Partial("AllRooms" , room)
                }
            }
    </div>