@model HotelRoomtViewModel
<div class="container" >

   @foreach(var el in Model.HotelRoom.listHotelItem)
   {
       <div class="alert alert-warning mt-3">
           <b>Комнаты:</b> @el.room.name<bt />
           <b>Цена :</b> @el.room.price.ToString("C")
       </div> 
   }
    <hr/>
    <div class="btn btn-danger" asp-controller-"Order">Оплатить</div>
</div>